/* Increase specificity to override default styles */
.noUi-connect {
    background-color: #FF5733;
    height: 0.8vh;
}

.noUi-target {
    height: 0.8vh;
}

/* Hide the vertical bars inside the default handle */
.noUi-handle::before {
    content: none;
}

/* Hide the vertical bars inside the default handle */
.noUi-handle::after {
    content: none;
}

/* Customize the appearance of the default handle square */
.noUi-origin > .noUi-handle {
    width: 1vw; /* Adjust the width as needed */
    height: 1vw; /* Adjust the height as needed */
    top: -0.6vh;
    right: -0.9vw; /* half the width */
    border-radius: 9vw; /* Adjust the border radius as needed */
    border-color: #FF5733;
    border-width: 0.3vw;
}
